/* 초기화 */
  * {
    margin: 0; padding: 0;
  }

  li {
    list-style: none;
  }

/* 중앙 정렬 레이아웃 */
  body {
    margin: 0 auto;
    width: 960;
  }


/* 우측 상단 메뉴 */
.top-right-menu{
  display:block;
}
#top-right-menu-item {
  float: right;
  position: relative;
  margin: 0 5px;
  font-size: 14px;
  color: white;

}

#top-right-menu-item:hover {
  color: white;
}
#top-right-menu-item {
  display: block;
  height: 30px; line-height: 30px;
  text-align: center;
  padding: 50px 50px;
  color: white;
}
/*배경 스타일 */
body {
  background-image: url('library_image1.jpg');
  background-size: 100% 600px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: black;
  font-size: 20px;
}

/* 검색 창 */
.input-search {
  display: block;
  float: left;

  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 25px 25px 25px 25px;
  box-shadow: insert 0 1px 1px rgba(0, 0, 0, 0.05);

  width: 600px; height: 50px;
  padding: 0 0 0 10px;
  font-size: 12px;
  color: #555555;

  position: absolute;
  left: 50%; top: 30%;
  margin-left: -300px;
  margin-top: -15px;

}



